/*头部导航页面基本显示操作*/
ul{
  padding:0;
}
a{
  text-decoration:none !important;
}
#bs-nav{
  /*margin-top:-16px;*/
  height:30px;
  background:#e5e6e7;
}
#bs-nav>div.w>ul>li>a{
  font-size:12px;
  color:#999;
  line-height:30px;
}
#bs-nav>div.w>ul>li>a:hover{
  color:#f30213;
}
.w,div#search{
  width:1210px !important;
  margin:0 auto;
  position:relative;
}
div.w>ul.fl,div.w>ul.fr{
  list-style:none;
}
div.w>ul.fl>li,div.w>ul.fr>li{
  float:left;
  padding:0 6px;
}
.la,.la+a{
  color:#f30213 !important;
}

div.w>ul.fr>li.li-1{
  color:#ccc;
  padding:3px 0 0 0;
  height:10px;
}
div.w>ul.fr>li>i.glyphicon{
  color:#ccc;
}
/*提示框*/
.alert{
  width:400px;
  height:100px;
  border:1px solid #a33;
  color:#922;
  background:#fee;
  padding:10px;
  position:absolute;
  left:405px;
  top:50px;
  display:none;
}
/*头部隐藏下拉菜单*/
#bs-nav>div.w>ul>li.dropdown:hover{
  background:#fff;
  color:#f30213;
}
#bs-nav>div.w>ul>li div.dt{
  background:#fff;
  border:1px solid #e5e6e7;
  border-top:0;
  position:absolute;
  top:30px;
  left:0;
  display:none;
}
.addr{
  width:300px;
}
.msg,.shou{
  width:190px;
}
.cai{
  width:180px;
}
#bs-nav div.dt>ul{
  padding:10px;
}
#bs-nav div.dt>ul>li{
  list-style:none !important;
  color:#f30213;
}
#bs-nav div.dt>ul>li>a{
  padding:0 10px 0 10px;
  color:gray;
}
#bs-nav>div.w>ul>li div.dt ul li a.active{
  background:#f30213;
  color:#fff !important;
}
#bs-nav div.dt>ul>li>a:hover{
  background:#d0e9c6;
  border-radius:2px;
  color:#f30213 !important;
}
#search>div#logo{
  background:url(../img/logo.jpg) no-repeat;
  width:100px;
  height:60px;
  margin-top:15px;
  background-size:100%;
  position:relative;
}
#search>div#logo>h2{
  color:#f30213;
  margin:0;
  position:absolute;
  left:13px;
}
#search>div:nth-child(2)>input{
  width:415px;
  height:36px;
  border:2px solid #f30213;
  border-right:0;
  margin:4px;
  outline:none;
  line-height:24px;
}
#search>div:nth-child(2)>button{
  margin-left:-8px;
  height:36px;
  width:60px;
  color:#fff;
  background:#f30213;
  border:none;
}
#search>div:nth-child(2){
  position:absolute;
  top:20px;
  left:350px;
}